@font-face { font-family: EditorialOldRegular; src:url(assets/PPEditorialOldVariable-Regular.ttf); }
@font-face { font-family: EditorialOldItalic; src:url(assets/PPEditorialOldVariable-Italic.ttf); }
@font-face { font-family: Inter; src:url(assets/Inter-VariableFont_slnt,wght.ttf); }

body {
	background: linear-gradient(to bottom, rgb(25, 25, 50), rgb(25, 25, 50))
}

header, .null-first, .description, .eyebrow-container {
	background-color: rgb(25, 25, 50);
}

header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

h1, h2 {
	color: #ffffff;
	text-transform: lowercase;
	text-align: right;
}

h1 {
	font-family: editorialolditalic;
	font-weight: 100;
}

h2 {
	font-family: editorialoldregular;
	font-weight: 200;

	display: block;
}

main {
	z-index: 1000;

	display: flex;
	flex-direction: column;

	position: sticky;
	top: 0;
}

.description {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	cursor: pointer;
}

.description:hover {
	color: rgb(0, 125, 250);
}

p {
	font-family: editorialolditalic;
	font-weight: 300;
	color: rgb(0, 255, 255);
	text-transform: lowercase;
	text-align: left;	
}

.arrowicon {
	width: calc(var(--base) * 2);
	height: auto;
	vertical-align: middle;
}

.eyebrow-container,
.eye-container {
	width: 100%;
	position: relative;

	display: flex;
	flex-direction: row;
}

.eyebrow, .hiddeneyebrow {
	width: 100%;
	height: 70%;

	background-image: repeating-linear-gradient(
		90deg,
		#ffffff calc(var(--base) * 0),
		#ffffff calc(var(--base) * 1),
		#191932 calc(var(--base) * 1),
		#191932 calc(var(--base) * 2)
	);
	background-repeat: repeat-x;
}

.eye, .hiddeneye {
	margin-top: calc(var(--base) * -4);

	width: 100%;
	border-radius: 50%;
	transform: scaleX(1);
	background-color: #ffffff;
	overflow: hidden;
}

.iris {
	height: 80%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: rgb(0, 150, 250);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pupil {
	height: 60%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color:#000000;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* .magic-button {
	z-index: 1;

	position: fixed;

	width: calc(var(--base) * 4);
	height: calc(var(--base) * 4);
	overflow: hidden;
	border-radius: 50%;
	background: #ffffff;
	opacity: 0.5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	cursor: pointer;
} */

/* .eyeconopen, .eyeconclose {
	width: 1em;
	height: auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

.container {
	height: auto;
	overflow: hidden;

	position: relative;
}

.blocks	{
	animation: scroll-reverse 10s linear infinite;
}

.blocks li {
	background-image: linear-gradient(to bottom, rgb(25, 25, 50), rgb(25, 25, 50));
}

.blocks li:hover {
	filter: none;
}

.block-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: filter 0.3s ease;
}

h3 {
	font-family: editorialoldregular;
	font-weight: 300;
	font-size: calc(var(--base) * 1.5);
	line-height: calc(var(--base) * 1.15);
	color: #ffffff;
	text-transform: lowercase;
	text-align: left;
}

h4 {
	font-family: inter;
	font-weight: 300;
	font-size: calc(var(--base) * 1);
	line-height: calc(var(--base) * 1.15);
	color: #ffffff;
	text-transform: lowercase;
	text-align: left;
}