@font-face { font-family: EditorialOldRegular; src:url(assets/PPEditorialOldVariable-Regular.ttf); }
@font-face { font-family: EditorialOldItalic; src:url(assets/PPEditorialOldVariable-Italic.ttf); }
@font-face { font-family: Inter; src:url(assets/Inter-VariableFont_slnt,wght.ttf); }

html {
	background: rgb(20, 20, 60);
}

main {
	background: rgb(25, 25, 50);
}

h1 {
	font-family: editorialolditalic;
	font-weight: 100;
  color: #ffffff;
	text-transform: lowercase;
	text-align: right;
	display: block;
}

h2 {
	font-family: editorialoldregular;
	font-weight: 200;
  color: #ffffff;
	text-transform: lowercase;
	text-align: right;
	display: block;
}

main {
	z-index: 1000;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
}

.text-button .arrowicon {
	display: inline-block;
	vertical-align: middle;
}

.text-button {
	color: rgb(0, 255, 255);
	background: rgb(25, 25, 50);
  cursor: pointer;
}

.text-button:hover {
	color: rgb(0, 125, 250);
}

h3 {
	font-family: editorialolditalic;
	font-weight: 300;
	text-transform: lowercase;
	text-align: left;
	color: #ffffff;
}

.arrowicon {
	color: rgb(0, 125, 250);
}

/* p {
	font-family: inter;
	font-weight: 300;
	font-size: calc(var(--base) * 1.2);
	line-height: calc(var(--base) * 1.15);
	color: #ffffff;
	text-transform: lowercase;
	text-align: left;
} */

/* h4 {
	font-family: editorialoldregular;
	font-weight: 300;
	font-size: calc(var(--base) * 1.5);
	line-height: calc(var(--base) * 1.25);
	color: #ffffff;
	text-transform: lowercase;
	text-align: left;
	height: 100%;
} */

.eyes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
	position: relative;
	display: flex;
	flex-direction: row;
  height: calc(var(--base) * 16);
}

.eyebrow {
	width: 100%;
	height: 70%;

	background: rgb(25, 25, 50);
	top: 0;

	background-image: repeating-linear-gradient(
		90deg,
		#ffffff 0em,
		#ffffff 1em,
		#191932 1em,
		#191932 2em
	);
	background-repeat: repeat-x;
}

.eye {
	width: 100%;
	height: 60%;
	border-radius: 50%;
	transform: scaleX(1);
	background-color: #ffffff;
	overflow: hidden;

	position: absolute;
	overflow: hidden;
	bottom: 0;
}

.iris {
	height: 80%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: rgb(0, 150, 250);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: height 0.5s ease;
}

.pupil {
	height: 60%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color:#000000;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-button {
	width: calc(var(--base) * 4);
	height: calc(var(--base) * 4);

	position: fixed;
	z-index: 1;

	overflow: hidden;
	border-radius: 50%;
	background: #ffffff;
	opacity: 0.5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	cursor: pointer;
}

.container {
	background: rgb(25, 25, 50);
	position: relative;
	height: auto;
	overflow: hidden;
}

.blocks	{
	animation: scroll-reverse 10s linear infinite;
}

.blocks li {
	filter: blur(2px); /* Default Gaussian blur filter */
	transition: filter 0.3s, background-image 0.3s;
}

.block::after {
	background-image: linear-gradient(to bottom, rgba(25, 25, 50, 1), rgba(25, 25, 50, 0));
}

.blocks li:hover {
	filter: none;
	background-image: linear-gradient(to bottom, rgba(25, 25, 50, 0), rgba(25, 25, 50, 1));
}

/* .content {
	height: 100%;

	position: absolute;
	flex-direction: column;
	gap: calc(var(--base) * 1);

	padding: calc(var(--base) * 1) calc(var(--base) * 1) calc(var(--base) * 2) calc(var(--base) * 1);
	background-color: rgb(0, 150, 250);
}

.caption {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: calc(var(--base) * 1);
}

h4 {
	font-family: inter;
	font-weight: 500;
	font-size: calc(var(--base) * 0.8);
	line-height: calc(var(--base) * 1);
	color: rgb(25, 25, 50);
	text-transform: lowercase;
	text-align: left;
} */
